@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-info">verileri getir</button>
        <button type="button" id="btnadd" class="btn btn-outline-info">kaydet</button>
    </div>
</div>

<div class="p-2" id="listexperience">
    
</div>

<br />

<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Adı" />
    <br />
    <input type="text" class="form-control" id="inpsurname" placeholder="soyadı" />
    <br />
    <input type="text" class="form-control" id="inpusername" placeholder="kullanıcı adınız" />
    <br />
    <input type="text" class="form-control" id="inpmail" placeholder="Mail adresi" />
    <br />
</div>

 

@section Scripts
{
    <script>
        $("#btngetlistall").click(function () {
            $.ajax({
                type: "GET",
                url: "/Experience2/ListExperience/",
                contentType: "application/json",
                dataType: "json",
                
                success: function (funk) {
                    let values = jQuery.parseJSON(funk);
                    console.log(values);

                    let htmlst = "<table class=table table-bordered> <tr> <th> ID </th> </th> Başlık </th> <th> tarih </th> <tr/>";
                    $.each(values, (index,value) => {
                        htmlst+=`<tr> <td>${value.ExperienceID}</td> <td>${value.Name}</td> <td>${value.Date}</td> </tr>`
                    });
                    htmlst += "</table>";
                    $("#listexperience").html(htmlst);
                }
            });
        });

    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>