<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">yazar paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReciverMessage/">
                <i class="ti-book menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage/">
                <i class="ti-comment menu-icon"></i>
                <span class="menu-title">giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage/">
                <i class="ti-pencil menu-icon"></i>
                <span class="menu-title">yeni Mesaj</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Duyurular</span>
                <i class="menu-title"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Profil</span>
                <i class="menu-title"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <i class="ti-export menu-icon"></i>
                <span class="menu-title">admin paneline dön</span>
            </a>
        </li>
    </ul>
</nav>