@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Proje Düzenleme Sayfası</h3>
</div>

<form asp-action="EditPortfolio" method="post" class="p-3">

    @* ID'nin form ile birlikte sunucuya geri gönderilmesi ÇOK ÖNEMLİDİR. *@
    <input type="hidden" asp-for="PortfolioID" />
    @* Soft delete için IsDeleted bayrağını da gönderelim ki kaybolmasın *@
    <input type="hidden" asp-for="IsDeleted" />

    <div class="form-group">
        <label asp-for="Name">Proje Başlığı</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageuUrl">Görsel URL1</label>
        <input type="text" asp-for="ImageuUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageuUrl2">Görsel URL2</label>
        <input type="text" asp-for="ImageuUrl2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ProjectUrl">Proje linki</label>
        <textarea asp-for="ProjectUrl" rows="5" class="form-control"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Güncelle</button>
    <a href="/Portfolio/Index/" class="btn btn-secondary">İptal et ve Geri Dön</a>

</form>

