
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
@await Component.InvokeAsync("FeatureStatistic")

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            @await Component.InvokeAsync("Last5Projects")

            @await Component.InvokeAsync("DashboardExperience")

            @await Component.InvokeAsync("AboutCart")

        </div>

        <div class="col-xl-4">

            @await Component.InvokeAsync("DashboardSkill")

            @await Component.InvokeAsync("DashboardMessage")

            @await Component.InvokeAsync("DashboardToDoList")

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="mb-3">Hizmetler</h3>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card text-center py-4">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-laptop"></i>
                </div>
                <h6 class="text-primary text-uppercase">Web Uygulama Geliştirme</h6>
                <p class="description px-4">İhtiyaçlarınıza özel, güvenli ve ölçeklenebilir web uygulamaları.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card text-center py-4">
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-cloud-upload-96"></i>
                </div>
                <h6 class="text-success text-uppercase">API & Entegrasyon</h6>
                <p class="description px-4">Sistemleriniz arasında veri akışını sağlayan RESTful API servisleri.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card text-center py-4">
                <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                    <i class="ni ni-settings"></i>
                </div>
                <h6 class="text-info text-uppercase">Teknik Danışmanlık</h6>
                <p class="description px-4">Projenizin teknoloji seçimi ve mimari tasarımı için profesyonel destek.</p>
            </div>
        </div>
    </div>
</div>