
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
@await Component.InvokeAsync("FeatureStatistic")

<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-xl-8">
            @await Component.InvokeAsync("Last5Projects")

            @await Component.InvokeAsync("DashboardExperience")

            @await Component.InvokeAsync("AboutCart")

        </div>

        <div class="col-xl-4">

            @await Component.InvokeAsync("DashboardSkill")

            @await Component.InvokeAsync("DashboardMessage")

            @await Component.InvokeAsync("DashboardToDoList")

           

        </div>
            
    </div>
    @await Component.InvokeAsync("DashboardServices")
</div>