@using EntityLayer.Concrete
@model List<About>

<div class="card">
    <div class="card-header">
        <h5 class="h3 mb-0">Hakkımda</h5>
    </div>
    <div class="card-body">
        @foreach(var item in Model){
        <p class="text-sm">
            @item.Description
        </p>
        }
    </div>
</div>